<!-- Modal -->
<div class="modal fade" id="addGameModal" tabindex="-1" aria-labelledby="addGameModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addGameModalLabel">Añadir Nuevo Juego</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addGameForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="gameTitle">Título</label>
                            <input type="text" class="form-control" id="gameTitle" name="title" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="gamePlatform">Plataforma</label>
                            <input type="text" class="form-control" id="gamePlatform" name="platform" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="gamePrice">Precio</label>
                            <input type="number" class="form-control" id="gamePrice" name="price" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="gameReleaseDate">Fecha de Lanzamiento</label>
                            <input type="date" class="form-control" id="gameReleaseDate" name="release_date" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="gameGenre">Género</label>
                            <input type="text" class="form-control" id="gameGenre" name="genre" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="gameStatus">Estado</label>
                            <input type="text" class="form-control" id="gameStatus" name="status" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="gameDescription">Descripción</label>
                            <textarea class="form-control" id="gameDescription" name="description" rows="3" required></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="gameStock">Stock</label>
                            <input type="number" class="form-control" id="gameStock" name="stock" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Añadir</button>
                </form>
            </div>
        </div>
    </div>
</div>
